/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.shadow-cljs
node_modules
resources/public/js/
resources/public/files/
package-lock.json

# intellij
*.iml
.idea/
temp/